* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(68.15deg, #2F4F4F , #1C1C1C 55.61%);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
}

textarea {
  resize: none;
  border: none;
  padding: 8px;
  background-color: black;
  color: #00ff00;
  outline: none;
  font-size: 24px;
  text-align: justify;
}

textarea:focus {
  border: 1px solid #8257e5;
}